/* Notes hidden */
aside { display: none; }

/* Notes exposed */
body.notes aside { display: block; }

body.notes .bespoke-slide {
	width: 1600px;
	margin-left: -800px;
}
body.notes .bespoke-slide > div.content, body.notes .bespoke-slide > aside {
	width: 800px;
}
