/* Notes hidden */
.bespoke-slide > aside {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	top: 0;
	left: 100%;
	padding-left: 40px;
	font-size: 2em;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	opacity: 0;
}

/* Notes exposed */
body.notes .bespoke-slide {
	-webkit-transform: scale(.5) translateX(-50%);
	transform: scale(.5) translateX(-50%);
}

body.notes .bespoke-slide > aside {
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	opacity: 1;
}
